*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: rgb(236, 145, 145);
}
body{
  overflow-x: hidden;
}
#page1{
  height: 100%;
  width: 100%;
  background-color: brown;
}
#page2{
  height: 100%;
  width: 100%;
  background-color: rgb(221, 130, 77);
}
#page3{
  height: 100%;
  width: 100%;
  background-color: rgb(207, 48, 173);
}
#page2 h1{
  font-size: 40vw;
  font-weight: 400;
  text-transform: uppercase;
}